*_C.d
*_C.so
fit_stage_???_mindist*_nslc*_*_*.pdf
*.out.txt
*.root
for_stage_two_mindist*_nslc*_*_*.C
for_stage_two_ready_mindist*_nslc*_*_*.C
savedhists_mindist*_nslc*_*_*.C
stage_three*pdf
stage_four*pdf
results-*
*.tmp
gmon.out
*.swp
*.swo
prod_pid*
?hc_mc
old
