*_C.d
*_C.so
fit_stage_???_mindist*_nslc*_*_*.pdf
fit_stage_???_mindist*_nslc*_*_*.out.txt
for_stage_two_mindist*_nslc*_*_*.C
for_stage_two_ready_mindist*_nslc*_*_*.C
savedhists_mindist*_nslc*_*_*.C
n*_slc_summary_*.pdf
n*_summary_*.pdf
gmon.out
*.swp
*.swo
prod_pid*
?hc_mc
old
